<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="ventana">
      <input type="submit" class="ventana-edit-button" value="Edit Page" />
      <input type="submit" value="Add a Page" />
      <input type="submit" value="Add a Post" />
      <input type="submit" class="ventana-logout-button" value="Logout" />
   </div>

  <input class="ventana-title" />
  <textarea class="ventana-editor">
  </textarea>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
