<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="w98">
      <input type="submit" class="w98-edit-button" value="Edit Page" />
      <input type="submit" class="w98-add-page" value="Add a Page" />
      <input type="submit" class="w98-add-post" value="Add a Post" />
      <input type="submit" class="w98-logout-button" value="Logout" />
   </div>

  <input class="w98-title" />
  <textarea class="w98-editor" id="w98-editor">
  </textarea>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
